# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb

# Build folders
x64/Debug/
x64/Release/
Debug/
Release/

# Visual Studio cache files
ipch/
*.aps
*.ncb
*.opendb
*.plg
*.ilk
*.pdb

# SFML DLLs (no versionar los DLL)
*.dll

# Compiled object files
*.obj
*.o
*.exe
*.log

# Backup files
*~
*.tmp
*.bak